---
swagger: "2.0"
info:
  description: "EBANX API"
  version: "1.0-SNAPSHOT"
  title: "EBANX"
  license:
    name: "EBANX(Proprietary)"
host: "congo.ebanx.com"
basePath: "/"
tags:
- name: "Agent Authentication"
- name: "Money Withdrawal"
- name: "User Authentication"
schemes:
- "https"
paths:
  /api/users/auth:
    post:
      tags:
      - "User Authentication"
      summary: "Creating a session"
      description: "Authenticates an existing user based on given credentials and\
        \ creates a session for him associated to the current device."
      operationId: "authenticate"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/AuthenticationRequest"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/AuthenticationResponse"
        401:
          description: "Unauthorized"
  /api/withdrawals:
    post:
      tags:
      - "Money Withdrawal"
      summary: "Request a withdrawal"
      description: "Requests a withdrawal from user balance"
      operationId: "withdrawal"
      consumes:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/WithdrawalRequest"
      responses:
        200:
          description: "OK"
        401:
          description: "Unauthorized"
        500:
          description: "Internal Error"
  /management/auth:
    post:
      tags:
      - "Agent Authentication"
      summary: "Creating an agent session"
      description: "Authenticates an agent based on google token, creates a session\
        \ for her/him and returns a BearerAuthenticationToken."
      operationId: "authenticateAgent"
      parameters: []
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/AuthenticationResponse"
        401:
          description: "Agent unauthorized"
securityDefinitions:
  Bearer:
    description: "All API operations protected by this security method require an\
      \ Authorization HTTP header with a JWT token associated to a previously authenticated\
      \ session."
    type: "apiKey"
    name: "Bearer"
    in: "header"
definitions:
  AccountHolder:
    type: "object"
    required:
    - "documentNumber"
    - "documentType"
    - "fullName"
    - "holderType"
    properties:
      fullName:
        type: "string"
        example: "Joao Silva"
        description: "fullName"
      documentNumber:
        type: "string"
        example: "0876543780"
        description: "documentNumber"
      documentType:
        type: "string"
        example: "CEDULA_CIDADANIA"
        description: "documentType"
        enum:
        - "CEDULA_CIDADANIA"
        - "CEDULA_EXTRANJERIA"
      holderType:
        type: "string"
        example: "NATURAL"
        description: "holderType"
        enum:
        - "NATURAL"
        - "LEGAL"
  AuthenticationRequest:
    type: "object"
    required:
    - "email"
    - "password"
    properties:
      email:
        type: "string"
        example: "dev@ebanx.com"
        description: "email"
      password:
        type: "string"
        example: "123456"
        description: "password"
  AuthenticationResponse:
    type: "object"
    properties:
      firebaseToken:
        type: "string"
        example: "fhtryvu78647f457f356c65v75uvb76b87bu87aflkjoiwnk231ajldl2i3iej23901roi2h98fdsnkjdfas9832"
      apiToken:
        type: "string"
        example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvYW8gRGVsIFZhbGxlIiwiaWF0IjoxNTE2MjM5MDEyfQ.1CW_rI1WmeqdC8N4ls9hsLoi9KLY0RXEzTi_On4PQYU"
  BankAccount:
    type: "object"
    required:
    - "accountNumber"
    - "accountType"
    - "country"
    - "currency"
    properties:
      bankAccountId:
        type: "string"
        example: "xxo9qrbyx1frzqi4"
        description: "bankAccountId"
      currency:
        example: "BRL"
        description: "currency"
        $ref: "#/definitions/Currency"
      country:
        type: "string"
        example: "BR"
        description: "country"
      bankCode:
        type: "string"
        example: "Itau"
        description: "bankCode"
      accountType:
        type: "string"
        example: "CHECKING"
        description: "accountType"
        enum:
        - "CHECKING"
        - "SAVINGS"
      accountNumber:
        type: "string"
        example: "0123456"
        description: "accountNumber"
      accountCheckDigit:
        type: "string"
        example: "X"
        description: "accountCheckDigit"
      agencyNumber:
        type: "string"
        example: "1234"
        description: "agencyNumber"
      agencyCheckDigit:
        type: "string"
        example: "0"
        description: "agencyCheckDigit"
      operation:
        type: "string"
        example: "013"
        description: "operation"
      clabe:
        type: "string"
        example: "123456789123456789"
        description: "clabe"
  Currency:
    type: "object"
    properties:
      currencyCode:
        type: "string"
      defaultFractionDigits:
        type: "integer"
        format: "int32"
      numericCode:
        type: "integer"
        format: "int32"
      displayName:
        type: "string"
      symbol:
        type: "string"
  WithdrawalRequest:
    type: "object"
    required:
    - "accountHolder"
    - "bankAccount"
    - "requestedAmount"
    - "requestedCurrency"
    - "saveBankAccount"
    properties:
      requestedAmount:
        type: "number"
        example: 180.9
        description: "requestedAmount"
      requestedCurrency:
        example: "BRL"
        description: "requestedCurrency"
        $ref: "#/definitions/Currency"
      exchangeRateId:
        type: "string"
        example: "7ppmtkt6h30xdw7v"
        description: "exchangeRateId"
      saveBankAccount:
        type: "boolean"
        example: true
        description: "saveBankAccount"
      bankAccount:
        description: "bankAccount"
        $ref: "#/definitions/BankAccount"
      accountHolder:
        description: "accountHolder"
        $ref: "#/definitions/AccountHolder"